*{
    caret-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
html{
    font-size: 6.25%;
    scroll-behavior: smooth;
}
:root{
    --first-col:#f3f7f9;
    --second-col:#2a363d;
    --third-col:rgb(55, 0, 255);
    --fourth-col: #f3f7f9e7;
}
::-webkit-scrollbar{
    width: 10rem;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(0, 195, 255),rgb(0, 17, 255));
    border-radius: 10rem;
}
.dark-mode{
    --first-col:#0b0b0c;
    --second-col:#f4f7f8;
    --third-col:rgb(53, 56, 255);
    --fourth-col: #0b0b0ce5;
}
body{
    overflow-x: hidden;
}
.container{
    width: 100%;
    background-color:var(--first-col);
    transition: 0.8s;
}
nav{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    height: 80rem;
    z-index: 9999;
    line-height: 80rem;
    background: var(--fourth-col);
}
#moonIcon{
    width: 46rem;
    height: 46rem;
    cursor: pointer;
    margin-top: 1.4%;
    margin-right: 3%;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;

}
.logo{
    display: flex;
    font-size: 40rem;
    font-weight: 800;
    color: var(--second-col);
    letter-spacing: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    padding-left: 80rem;
}
.logo b{
    font-size: 70rem;
    color: var(--third-col);
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navItems{
    display: flex;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    padding-left: 150rem;
}
.navItems li{
    list-style: none;
    margin: 0 15rem;
}
.navItems li a{
    font-size: 25rem;
    color: var(--second-col);
    letter-spacing: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
    color: var(--first-col);
    background: var(--third-col);
    padding: 3rem 10rem;
    border-radius: 10rem;
    transition-duration: 0.5s;
}
.links{
    padding-left: 80rem;
}
.links a{
    display: inline-block;
    font-size: 35rem;
    color: var(--second-col);
    margin: 5rem 15rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.links a:hover{
    color: var(--first-col);
    background: var(--third-col);
    padding: 3rem 8rem;
    border-radius: 10rem;
    transition-duration: 0.5s;
    line-height: 45rem;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    padding-top: 140rem;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 450rem;
    width: 450rem;
    border-radius: 50%;
    left: -12%;
    top: 36%;
    background: linear-gradient(45deg,rgb(55, 0, 255),rgb(0, 195, 255));
    animation: object1 3s linear infinite;
}
@keyframes object1{
    50%{
        left: -14%;
        top: 38%;
        height: 500rem;
        width: 500rem;
    }
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 140rem;
    width: 140rem;
    border-radius: 50%;
    left: 40%;
    top: 13%;
    background: linear-gradient(180deg,rgb(55, 0, 255),rgb(0, 195, 255));
    animation: object2 3s linear infinite;
}
@keyframes object2{
    50%{
        left: 38%;
        top: 14%;
        height: 130rem;
        width: 130rem;
    }
}
.col{
    width: 50%;
}
.cols0{
    z-index: 1;
}
.topline{
    display: block;
    position: relative;
    font-size: 35rem;
    letter-spacing: 5rem;
    color: var(--second-col);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4rem;
    width: 45rem;
    bottom: 10rem;
    background-color: var(--third-col);
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
h1{
    display: block;
    font-size: 80rem;
    font-weight: 900;
    color:var(--second-col); 
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;

}
.multitext{
    color: var(--third-col);
    text-transform: capitalize;
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}
p{
    display: block;
    width: 50%;
    font-size: 18rem;
    color: var(--second-col);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}
.btns{
    width: 100%;
    position: relative;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16rem;
    font-weight: 400;
    color: var(--first-col);
    background-color: var(--second-col);
    padding: 8rem 14rem;
    margin: 35rem 5rem;
    letter-spacing: 2rem;
    text-transform: capitalize;
    transition: 0.5s;
    box-shadow: 0rem 15rem 10rem rgba(0, 0, 0, 0.4);
    -webkit-clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 61%, 91% 100%, 20% 100%, 0 100%, 0 35%);
    clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 61%, 91% 100%, 20% 100%, 0 100%, 0 35%);
}
button:hover{
    color:var(--third-col) ;
    background-color:var(--first-col);
    font-size: 17rem;
    font-weight: 400;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    animation: zoomin 1.2s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: 600rem;
    top: 4rem;
    animation: animateSera 3.8s linear infinite;
}
@keyframes animateSera{
    50%{
        top: -21rem;
    }
}
.imgbox #stoke{
    position: absolute;
    top: 5%;
    width: 650rem;
    margin-left: -10%;
    filter: saturate(100%);
    animation: animateStoke 3.8s linear infinite;
}
@keyframes animateStoke{
    50%{
        top: -5%;
        margin-left: -5%;
        width: 660rem;
    }
}

/* keyframe animation */

@keyframes slideRight{
    0%{
        transform: translateX(-100rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
@keyframes zoomin{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* section1 */

.section1{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--first-col);
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 140rem;
    transition: 0.8s;
}
.frostCard{
    width: 92%;
    height: 110%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow:0 4px 30px rgba(0, 0, 0, 0.377) ;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -6%;
}
.blob{
    position: absolute;
    width: 750rem;
    height: 750rem;
    margin-left: 38%;
    margin-top: -5%;
    animation: blob 3s linear infinite;
}
.blob:nth-child(2){
    filter: blur(50px);
}
@keyframes blob{
    50%{
        margin-left: 28%;
        margin-top: -4%;
        height: 650rem;
        width: 650rem;
    }
}
.frostCard img{
    width: 350rem;
    margin: 5.7%;
    object-fit: cover;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.frostCard img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(1.05);
}
.frostCard .frame{
    width: 400rem;
    height: 550rem;
    margin: 6%;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(43, 153, 255);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.frostCard .frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.aboutSera{
    position: absolute;
    margin-top: -46%;
    margin-left: 49%;
    width: 88%;
}
.aboutSera .abouthead{
    padding-bottom: 1%;
    font-size: 80rem;
    font-weight: 900;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
}
.btns1{
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}
@keyframes textShine{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}


/* section2 */


.section2{
    width: 100%;
    min-height: 520vh;
    overflow-x: hidden;
    background-color: var(--first-col);
    justify-content: center;
    padding-top: 70rem;
    transition: 0.8s;
}
.section2 .sec2heading{
    font-size: 80rem;
    font-weight: bold;
    padding: 4%;
    margin-left: 8%;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    letter-spacing: 2rem;
}
.section2 .blob2{
    position: absolute;
    width: 1250rem;
    height: 950rem;
    margin-left: 45%;
    margin-top: -4%;
}
.blob2:nth-child(2){
    filter: blur(20px);
}
.section2 .blob3{
    position: absolute;
    width: 900rem;
    height: 750rem;
    margin-top: 10%;
    margin-left: -25%;
}
.blob3:nth-child(3){
    filter: blur(20px);
}
.section2 .kdacard{
    width: 92%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 4%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.imgoverlay1{
    position: relative;
    width: 1000rem;
    transition: 0.5s;
    margin-left: 2.1%;
    margin-top: 1.9%;
    -webkit-clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 92% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 92% 100%, 20% 100%, 0 100%, 0 0);
}
.imgoverlay1 img{
    width: 1000rem;
    display: block;
}
.imgoverlay1 .overlaykda{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.568); 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    text-align: center;
    padding: 2%;
}
.overlaykda h2{
    margin-top: 30%;
    font-size: 35rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
}
.overlaykda span{
    font-size: 25rem;
    padding: 2%;
    color: #f3f7f9;
}
.imgoverlay1:hover{
    transform: scale(0.95);
    -webkit-clip-path: polygon(20% 0%, 89% 0, 100% 17%, 100% 100%, 80% 100%, 11% 100%, 0 84%, 0 0);
    clip-path: polygon(20% 0%, 89% 0, 100% 17%, 100% 100%, 80% 100%, 11% 100%, 0 84%, 0 0);
}
.imgoverlay1:hover .overlaykda{
    opacity: 1;
    cursor: pointer;
}
.kdacard .kdaframe{
    position: absolute;
    width: 1050rem;
    height: 470rem;
    background-color: transparent;
    border: solid 3rem var(--second-col);
    -webkit-clip-path: polygon(6% 0, 80% 0%, 100% 0, 100% 85%, 94% 100%, 20% 100%, 0 100%, 0 14%);
    clip-path: polygon(6% 0, 80% 0%, 100% 0, 100% 85%, 94% 100%, 20% 100%, 0 100%, 0 14%);
    transition: 0.5s;
}
.kdaframe:hover{
    -webkit-clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 91% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 91% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.95);
}
.blob4{
    width: 1100rem;
    height: 1000rem;
    position: absolute;
    margin-top: 50%;
    margin-left: -6%;
}
.blob4:nth-child(8){
    filter: blur(20px);
}
.section2 .soloseracard{
    width: 92%;
    height: 110%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 4%;
    margin-top: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.soloseracard h2{
    font-size: 45rem;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    margin-right: 56%;
    margin-top: -42%;
}
.soloseracard .videocard{
    position: absolute;
    width: 50%;
    height: 50%;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px; 
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    margin-left: 40%;
    margin-top: -18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videocard video{
    width: 85%;
    outline: none;
    position: absolute;
    border: none;
    object-fit: cover;
    -webkit-clip-path: polygon(7% 0, 80% 0%, 100% 0, 100% 85%, 93% 100%, 20% 100%, 0 100%, 0 14%);
    clip-path: polygon(7% 0, 80% 0%, 100% 0, 100% 85%, 93% 100%, 20% 100%, 0 100%, 0 14%);

}
.videocard .videocardframe{
    width: 82%;
    height: 60%;
    position: absolute;
    background-color: transparent;
    border: 2.5px solid var(--second-col);
}
.soloseracard .seraSongcard{
    position: absolute;
    width: 37%;
    height: 37%;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px; 
    margin-right: 53%;
    margin-top: -11.6%;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
}
.seraSongcard .seraSongframe{
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 80%, 87% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 80%, 87% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.seraSongframe:hover{
    transform: scale(0.9);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraSongframe .seraSongimg{
    width: 93%;
    height: 83%;
    position: absolute;
    display: flex;
    -webkit-clip-path: polygon(20% 0%, 88% 0, 100% 0, 100% 100%, 80% 100%, 12% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 88% 0, 100% 0, 100% 100%, 80% 100%, 12% 100%, 0 100%, 0 0);
    transition: 0.5s;
}
.seraSongimg:hover{
    transform: scale(0.97);
    -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 16%, 100% 100%, 80% 100%, 8% 100%, 0 82%, 0 0);
    clip-path: polygon(20% 0%, 92% 0, 100% 16%, 100% 100%, 80% 100%, 8% 100%, 0 82%, 0 0);
}
.seraSongimg img{
    width: 100%;
    object-fit: cover;
}
.seraSongimg .seraSongoverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.521);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 18%;
}
.seraSongimg:hover .seraSongoverlay{
    opacity: 1;
    cursor: pointer;
}
.seraSongoverlay .seraSonghead{
    font-size: 25rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
    
}
.seraSongoverlay .seraSongpara{
    font-size: 13rem;
    color:#f3f7f9;
    font-weight: 400;
}
.soloseracard .seraSong3{
    height: 30%;
    width: 30%;
    position: absolute;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60%;
    margin-top: 30%;
}
.seraSong3 .seraSong3frame{
    width: 85%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    transition: 0.5s;
}
.seraSong3frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.9);
}
.seraSong3 .seraSong3img{
    width: 95%;
    height: 93%;
    position: absolute;
    display: flex;
    transition: 0.5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraSong3img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: scale(0.98);
}
.seraSong3img img{
    width: 100%;
    object-fit: cover;
}
.seraSong3img .seraSong3overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.562);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 22%;
}
.seraSong3img:hover .seraSong3overlay{
    opacity: 1;
    cursor: pointer;
}
.seraSong3overlay .seraSong3head{
    font-size: 20rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
}
.seraSong3overlay .seraSong3para{
    font-size: 12rem;
    color:#f3f7f9;
    font-weight: 400;
    padding: 3%;
}
.soloseracard .seraSong4{
    height: 30%;
    width: 30%;
    position: absolute;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    margin-left: 2%;
}
.seraSong4 .seraSong4frame{
    width: 85%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    transition: 0.5s;
}
.seraSong4frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.9);
}
.seraSong4 .seraSong4img{
    width: 95%;
    height: 93%;
    position: absolute;
    display: flex;
    transition: 0.5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraSong4img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: scale(0.98);
}
.seraSong4img img{
    width: 100%;
    object-fit: cover;
}
.seraSong4img .seraSong4overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.562);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 22%;
}
.seraSong4img:hover .seraSong4overlay{
    opacity: 1;
    cursor: pointer;
}
.seraSong4overlay .seraSong4head{
    font-size: 20rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
}
.seraSong4overlay .seraSong4para{
    font-size: 12rem;
    color:#f3f7f9;
    font-weight: 400;
    padding: 3%;
}
.soloseracard .seraSong6{
    height: 30%;
    width: 28%;
    position: absolute;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    margin-left: 62%;
}
.seraSong6 .seraSong6frame{
    width: 85%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    transition: 0.5s;
}
.seraSong6frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.9);
}
.seraSong6 .seraSong6img{
    width: 95%;
    height: 93%;
    position: absolute;
    display: flex;
    transition: 0.5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraSong6img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: scale(0.98);
}
.seraSong6img img{
    width: 100%;
    object-fit: cover;
}
.seraSong6img .seraSong6overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.562);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 22%;
}
.seraSong6img:hover .seraSong6overlay{
    opacity: 1;
    cursor: pointer;
}
.seraSong6overlay .seraSong6head{
    font-size: 20rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
}
.seraSong6overlay .seraSong6para{
    font-size: 12rem;
    color:#f3f7f9;
    font-weight: 400;
    padding: 3%;
}
.blob5{
    width: 1000rem;
    height: 400rem;
    position: absolute;
    margin-top: 110%;
    margin-left: 40%;
}
.blob5:nth-child(10){
    filter: blur(20px);
}
.section2 .seragamecard{
    width: 92%;
    height: 110%;
    position: absolute;
    background: linear-gradient(to top right,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 4%;
    margin-top: 104.8%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.seragamecard h2{
    font-size: 45rem;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    margin-left: 56%;
    margin-top: -42%;
    letter-spacing: 2rem;
}
.seragamecard .videocard2{
    position: absolute;
    width: 50%;
    height: 50%;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px; 
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    margin-right: 40%;
    margin-top: -18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videocard2 video{
    width: 85%;
    outline: none;
    position: absolute;
    border: none;
    object-fit: cover;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 15%, 100% 100%, 80% 100%, 9% 100%, 0 84%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 15%, 100% 100%, 80% 100%, 9% 100%, 0 84%, 0 0);
}
.videocard2 .videocard2frame{
    width: 82%;
    height: 64%;
    position: absolute;
    background-color: transparent;
    border: 2.5px solid var(--second-col);
}
.seragamecard .seraSkillcard{
    position: absolute;
    width: 37%;
    height: 37%;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px; 
    margin-left: 53%;
    margin-top: -11.6%;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
}
.seraSkillcard .seraSkillframe{
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 80%, 87% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 80%, 87% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.seraSkillframe:hover{
    transform: scale(0.9);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraSkillframe .seraSkillimg{
    width: 93%;
    height: 83%;
    position: absolute;
    display: flex;
    -webkit-clip-path: polygon(20% 0%, 88% 0, 100% 0, 100% 100%, 80% 100%, 12% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 88% 0, 100% 0, 100% 100%, 80% 100%, 12% 100%, 0 100%, 0 0);
    transition: 0.5s;
}
.seraSkillimg:hover{
    transform: scale(0.97);
    -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 16%, 100% 100%, 80% 100%, 8% 100%, 0 82%, 0 0);
    clip-path: polygon(20% 0%, 92% 0, 100% 16%, 100% 100%, 80% 100%, 8% 100%, 0 82%, 0 0);
}
.seraSkillimg img{
    width: 100%;
    object-fit: cover;
}
.seraSkillimg .seraSkilloverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.603);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 20%;
}
.seraSkillimg:hover .seraSkilloverlay{
    opacity: 1;
    cursor: pointer;
}
.seraSkilloverlay .seraSkillhead{
    font-size: 23rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
    
}
.seraSkilloverlay .seraSkillpara{
    font-size: 13rem;
    color:#f3f7f9;
    font-weight: 400;
}
.seragamecard .seraGame1{
    height: 30%;
    width: 30%;
    position: absolute;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60%;
    margin-top: 30%;
}
.seraGame1 .seraGame1frame{
    width: 85%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    transition: 0.5s;
}
.seraGame1frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.9);
}
.seraGame1 .seraGame1img{
    width: 95%;
    height: 93%;
    position: absolute;
    display: flex;
    transition: 0.5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraGame1img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: scale(0.98);
}
.seraGame1img img{
    width: 100%;
    object-fit: cover;
}
.seraGame1img .seraGame1overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.562);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 22%;
}
.seraGame1img:hover .seraGame1overlay{
    opacity: 1;
    cursor: pointer;
}
.seraGame1overlay .seraGame1head{
    font-size: 20rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
}
.seraGame1overlay .seraGame1para{
    font-size: 12rem;
    color:#f3f7f9;
    font-weight: 400;
    padding: 5%;
}
.seragamecard .seraGame2{
    height: 30%;
    width: 30%;
    position: absolute;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: 30%;
}
.seraGame2 .seraGame2frame{
    width: 85%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    transition: 0.5s;
}
.seraGame2frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.9);
}
.seraGame2 .seraGame2img{
    width: 95%;
    height: 93%;
    position: absolute;
    display: flex;
    transition: 0.5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraGame2img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: scale(0.98);
}
.seraGame2img img{
    width: 100%;
    object-fit: cover;
}
.seraGame2img .seraGame2overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.562);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 22%;
}
.seraGame2img:hover .seraGame2overlay{
    opacity: 1;
    cursor: pointer;
}
.seraGame2overlay .seraGame2head{
    font-size: 20rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
}
.seraGame2overlay .seraGame2para{
    font-size: 12rem;
    color:#f3f7f9;
    font-weight: 400;
    padding: 5%;
}
.seragamecard .seraGame3{
    height: 30%;
    width: 28%;
    position: absolute;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 62%;
    margin-top: 30%;
}
.seraGame3 .seraGame3frame{
    width: 85%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    clip-path: polygon(20% 0%, 91% 0, 100% 19%, 100% 100%, 80% 100%, 10% 100%, 0 79%, 0 0);
    transition: 0.5s;
}
.seraGame3frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.9);
}
.seraGame3 .seraGame3img{
    width: 95%;
    height: 93%;
    position: absolute;
    display: flex;
    transition: 0.5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.seraGame3img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: scale(0.98);
}
.seraGame3img img{
    width: 100%;
    object-fit: cover;
}
.seraGame3img .seraGame3overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.562);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 22%;
}
.seraGame3img:hover .seraGame3overlay{
    opacity: 1;
    cursor: pointer;
}
.seraGame3overlay .seraGame3head{
    font-size: 20rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
}
.seraGame3overlay .seraGame3para{
    font-size: 12rem;
    color:#f3f7f9;
    font-weight: 400;
    padding: 5%;
}
.blob6{
    width: 900rem;
    height: 800rem;
    position: absolute;
    margin-top: 165%;
}
.blob6:nth-child(12){
    filter: blur(20px);
}
.gallhead{
    font-size: 80rem;
    margin-top: 160%;
    margin-left: 12%;
    font-weight: 900;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    letter-spacing: 2rem;
}
.gallarycard{
    width: 92%;
    height: 108%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow:0 4px 30px rgba(0, 0, 0, 0.377) ;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 4%;
    margin-top: 4%;
    display: grid;
    place-items: center;
}
.slidegallaryimg{
    margin: auto;
    height: 250rem;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 4%;
}
.slidegallary{
    display: flex;
    width: calc(250rem * 18);
    animation: scroll 25s linear infinite;
}
.slidegallary:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250rem*9));
    }
}
.slideimg{
    height:250rem;
    width: 250rem;
    display: flex;
    align-items: center;
    padding: 15rem;
    perspective:100rem;
}
.slideimg img{
    width: 100%;
    transition: transform 1s;
    object-fit: cover;
}
.slideimg img:hover{
    transform: translateZ(-10rem);
}
.slide1{
    -webkit-clip-path: polygon(16% 0, 80% 0%, 100% 0, 100% 80%, 85% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(16% 0, 80% 0%, 100% 0, 100% 80%, 85% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.slide1:hover{
    -webkit-clip-path: polygon(20% 0%, 85% 0, 100% 0, 100% 100%, 80% 100%, 15% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 85% 0, 100% 0, 100% 100%, 80% 100%, 15% 100%, 0 100%, 0 0);
}
.slide2{
    -webkit-clip-path: polygon(20% 0%, 85% 0, 100% 20%, 100% 100%, 80% 100%, 15% 100%, 0% 80%, 0 0);
    clip-path: polygon(20% 0%, 85% 0, 100% 20%, 100% 100%, 80% 100%, 15% 100%, 0% 80%, 0 0);
    transition: 0.5s;
}
.slide2:hover{
    -webkit-clip-path: polygon(20% 0%, 85% 0, 100% 0, 100% 100%, 80% 100%, 15% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 85% 0, 100% 0, 100% 100%, 80% 100%, 15% 100%, 0 100%, 0 0);
}
.slidegallary2img{
    margin: auto;
    height: 250rem;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 0%;
}
.slidegallary2{
    display: flex;
    width: calc(250rem * 18);
    animation: scroll2 25s linear infinite;
}
@keyframes scroll2{
    0%{
        transform: translateX(calc(-250rem*9));
    }
    100%{
        transform: translateX(0);
    }
}
.slidegallary2:hover{
    animation-play-state: paused;
}
.slideimg2{
    height:250rem;
    width: 250rem;
    display: flex;
    align-items: center;
    padding: 15rem;
    perspective:100rem;
}
.slideimg2 img{
    width: 100%;
    transition: transform 1s;
    object-fit: cover;
}
.slideimg2 img:hover{
    transform: translateZ(-10rem);
}



/* section3 */

.section3{
    width: 100%;
    min-height: 170vh;
    overflow-x: hidden;
    background-color: var(--first-col);
    justify-content: center;
    padding-top: 70rem;
    transition: 0.8s;
}

.section3 .originhead{
    font-size: 80rem;
    font-weight: bold;
    padding: 4%;
    margin-top: -4%;
    margin-left: 8%;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    letter-spacing: 2rem;
}
.section3 .container{
    width: 92%;
    height: 90%;
    display: grid;
    position: absolute;
    border-radius: 20px;
    margin-left: 4%;
    align-items: center;
    justify-content: center;
    display: flex; 
    overflow: hidden;
    background-image: url(img/originimg6.jpeg);
    animation: change 100s infinite ease-in-out;
    background-size: cover;
}
.section3 .origincard{
    width:100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right,rgba(0, 195, 255, 0) , rgba(0, 0, 0, 0.555));
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
    display: flex; 
}
.container img{
    object-fit: cover;
    width: 102%;
    height: 102%;
    display: grid;
}
@keyframes change{
    0%{
        background-image: url(img/originimg1.jpeg);
    }
    10%{
        background-image: url(img/originimg2.jpeg);
    }
    20%{
        background-image: url(img/originimg3.jpeg);
    }
    30%{
        background-image: url(img/originimg4.jpeg);
    }
    40%{
        background-image: url(img/originimg5.jpeg);
    }
    50%{
        background-image: url(img/originimg6.jpeg);
    }
    60%{
        background-image: url(img/originimg1.jpeg);
    }
    70%{
        background-image: url(img/originimg2.jpeg);
    }
    80%{
        background-image: url(img/originimg3.jpeg);
    }
    90%{
        background-image: url(img/originimg4.jpeg);
    }
    100%{
        background-image: url(img/originimg5.jpeg);
    }
}
.origincard .aboutSeraorigin{
    position: absolute;
    margin-left: 90%;
    width: 80%;
    margin-top: 2%;
}
.aboutSeraorigin .aboutheadorigin{
    padding-bottom: 1%;
    font-size: 80rem;
    font-weight: 900;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
}
.aboutSeraorigin p{
    color: #f3f7f9;
}

footer{
    position: relative;
    width: 100%;
    background: linear-gradient(180deg ,#3586ff,rgb(0, 195, 255));
    min-height: 240rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social_icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
    flex-wrap: wrap;
}
footer .social_icons li{
    list-style: none;
}
footer .social_icons li a{
    font-size: 50rem;
    color: var(--first-col);
    margin: 0 20rem;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icons li a:hover{
    font-size: 51rem;
    transform: translateY(-10rem);
}
footer .footerpara{
    font-size: 20rem;
    position: absolute;
    margin-top: 10%;
    color: var(--first-col);
}
footer .wave{
    position: absolute;
    top: -110rem;
    left: 0;
    width: 100%;
    height: 110rem;
    background: url(img/wave.png);
    background-size: 1000rem 110rem;
}
footer .wave#wave1{
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 99;
    opacity: 0.5;
    bottom: 10rem;
    animation: animatewave2 4s linear infinite;
}
footer .wave#wave3{
    z-index: 100;
    opacity: 0.2;
    bottom: 15rem;
    animation: animatewave2 3s linear infinite;
}
footer .wave#wave4{
    z-index: 99;
    opacity: 0.7;
    bottom: 20rem;
    animation: animatewave2 3s linear infinite;
}
@keyframes animatewave{
    0%{
        background-position: 1000rem;
    }
    100%{
        background-position: 0rem;
    }
}
@keyframes animatewave2{
    0%{
        background-position: 0rem;
    }
    100%{
        background-position: 1000rem;
    }
}
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
  }

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }



/* responsive design */
@media screen and (max-width: 400px) {
    html{
        font-size: 4%;
    }
    .imgbox img{
        width: 500rem;
        margin-left: -45% auto;
    }
    .imgbox #stoke{
        width: 750rem;
        left: -150rem auto;
    }
    @keyframes animateStoke{
        50%{
            top: -1%;
            left: -140rem;
            width: 850rem;
        }
    }
    .cols1{
        width: 400rem;
        transform: translateY(46.5%);
        margin-left: -100%;
    }
    .cols0{
        width: 100%;
        transform: translateY(-75%);
    }
    .topline{
        font-size: 40rem;
        letter-spacing: 4rem;
    }
    h1{
        font-size: 50rem;
        width: 100%;
    }
    p{
        width: 100%;
        font-size: 22rem;
    }
    .btns{
        display: inline-flex;
    }
    button{
        font-size: 15rem;
        padding: 5rem 12rem;
        margin: 25rem 2rem;
        letter-spacing: 1rem;
    }
    button:hover{
        font-size: 16rem;
    }
    .wrapper::before{
        height: 400rem;
        width: 400rem;
        left: -16%;
        top: 24%;
    }
    @keyframes object1{
        50%{
            left: -20%;
            top: 26%;
            height: 420rem;
            width: 420rem;
        }
    }
    .wrapper::after{
        left: 70%;
        top: 13%;
    }
    @keyframes object2{
        50%{
            left: 60%;
            top: 14%;
            height: 130rem;
            width: 130rem;
        }
    }
}
