*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
html{
    font-size: 6.25%;
    scroll-behavior: smooth;
}
:root{
    --first-col:#f3f7f9;
    --second-col:#2a363d;
    --third-col:rgb(55, 0, 255);
}
.dark-mode{
    --first-col:#0b0b0c;
    --second-col:#f4f7f8;
    --third-col:rgb(53, 56, 255);
}
body{
    overflow-x: hidden;

}
.container{
    width: 100%;
    background-color:var(--first-col);
    transition: 0.8s;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80rem;
    z-index: 111;
    line-height: 80rem;
}
#moonIcon{
    width: 46rem;
    height: 46rem;
    cursor: pointer;
    margin-top: 1.4%;
    margin-right: 3%;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;

}
.logo{
    display: flex;
    font-size: 40rem;
    font-weight: 800;
    color: var(--second-col);
    letter-spacing: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    padding-left: 80rem;
}
.logo b{
    font-size: 70rem;
    color: var(--third-col);
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navItems{
    display: flex;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    padding-left: 150rem;
}
.navItems li{
    list-style: none;
    margin: 0 15rem;
}
.navItems li a{
    font-size: 25rem;
    color: var(--second-col);
    letter-spacing: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
    color: var(--first-col);
    background: var(--third-col);
    padding: 3rem 10rem;
    border-radius: 10rem;
    transition-duration: 0.5s;
}
.links{
    padding-left: 80rem;
}
.links a{
    display: inline-block;
    font-size: 35rem;
    color: var(--second-col);
    margin: 5rem 15rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.links a:hover{
    color: var(--first-col);
    background: var(--third-col);
    padding: 3rem 8rem;
    border-radius: 10rem;
    transition-duration: 0.5s;
    line-height: 45rem;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 450rem;
    width: 450rem;
    border-radius: 50%;
    left: -12%;
    top: 36%;
    background: linear-gradient(45deg,rgb(55, 0, 255),rgb(0, 195, 255));
    animation: object1 3s linear infinite;
}
@keyframes object1{
    50%{
        left: -14%;
        top: 38%;
        height: 500rem;
        width: 500rem;
    }
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 140rem;
    width: 140rem;
    border-radius: 50%;
    left: 40%;
    top: 13%;
    background: linear-gradient(180deg,rgb(55, 0, 255),rgb(0, 195, 255));
    animation: object2 3s linear infinite;
}
@keyframes object2{
    50%{
        left: 38%;
        top: 14%;
        height: 130rem;
        width: 130rem;
    }
}
.col{
    width: 50%;
}
.cols0{
    z-index: 1;
}
.topline{
    display: block;
    position: relative;
    font-size: 35rem;
    letter-spacing: 5rem;
    color: var(--second-col);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4rem;
    width: 45rem;
    bottom: 10rem;
    background-color: var(--third-col);
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
h1{
    display: block;
    font-size: 80rem;
    font-weight: 900;
    color:var(--second-col); 
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;

}
.multitext{
    color: var(--third-col);
    text-transform: capitalize;
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}
p{
    display: block;
    width: 50%;
    font-size: 18rem;
    color: var(--second-col);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}
.btns{
    width: 100%;
    position: relative;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16rem;
    font-weight: 400;
    color: var(--first-col);
    background-color: var(--second-col);
    padding: 8rem 14rem;
    margin: 35rem 5rem;
    letter-spacing: 2rem;
    text-transform: capitalize;
    transition: 0.5s;
    box-shadow: 0rem 15rem 10rem rgba(0, 0, 0, 0.4);
    -webkit-clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 61%, 91% 100%, 20% 100%, 0 100%, 0 35%);
    clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 61%, 91% 100%, 20% 100%, 0 100%, 0 35%);
}
button:hover{
    color:var(--third-col) ;
    background-color:var(--first-col);
    font-size: 17rem;
    font-weight: 400;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    animation: zoomin 1.2s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: 600rem;
    top: -25rem;
    animation: animateSera 4s linear infinite;
}
@keyframes animateSera{
    50%{
        top: -50rem;
    }
}
.imgbox #stoke{
    position: absolute;
    top: 5%;
    left: -170rem;
    width: 950rem;
    filter: saturate(100%);
    animation: animateStoke 4s linear infinite;
}
@keyframes animateStoke{
    50%{
        top: -5%;
        left: -160rem;
        width: 1000rem;
    }
}

/* keyframe animation */

@keyframes slideRight{
    0%{
        transform: translateX(-100rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
@keyframes zoomin{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.section1{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--first-col);
    align-items: center;
    display: flex;
    justify-content: center;
}
.frostCard{
    width: 92%;
    height: 110%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow:0 4px 30px rgba(0, 0, 0, 0.377) ;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -6%;
}
.blob{
    position: absolute;
    width: 750rem;
    height: 750rem;
    margin-left: 38%;
    margin-top: -5%;
    animation: blob 3s linear infinite;
}
.blob:nth-child(2){
    filter: blur(50px);
}
@keyframes blob{
    50%{
        margin-left: 28%;
        margin-top: -4%;
        height: 650rem;
        width: 650rem;
    }
}
.frostCard img{
    width: 350rem;
    margin: 5.7%;
    object-fit: cover;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.frostCard img:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(1.05);
}
.frostCard .frame{
    width: 400rem;
    height: 550rem;
    margin: 6%;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(43, 153, 255);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.frostCard .frame:hover{
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}
.aboutSera{
    position: absolute;
    margin-top: -46%;
    margin-left: 49%;
    width: 88%;
}
.aboutSera .abouthead{
    padding-bottom: 1%;
    font-size: 80rem;
    font-weight: 900;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
}
.btns1{
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}
@keyframes textShine{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
.section2{
    width: 100%;
    min-height: 300vh;
    overflow-x: hidden;
    background-color: var(--first-col);
    justify-content: center;
}
.section2 .sec2heading{
    font-size: 80rem;
    font-weight: bold;
    padding: 4%;
    margin-left: 8%;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    letter-spacing: 2rem;
}
.section2 .blob2{
    position: absolute;
    width: 1250rem;
    height: 950rem;
    margin-left: 45%;
    margin-top: -5%;
}
.blob2:nth-child(2){
    filter: blur(20px);
}
.section2 .blob3{
    position: absolute;
    width: 900rem;
    height: 750rem;
    margin-top: 10%;
    margin-left: -25%;
}
.blob3:nth-child(3){
    filter: blur(20px);
}
.section2 .kdacard{
    width: 92%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 4%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.imgoverlay1{
    position: relative;
    width: 1000rem;
    transition: 0.5s;
    margin-left: 2.1%;
    margin-top: 1.9%;
    -webkit-clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 92% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 92% 100%, 20% 100%, 0 100%, 0 0);
}
.imgoverlay1 img{
    width: 1000rem;
    display: block;
}
.imgoverlay1 .overlaykda{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.568); 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    text-align: center;
    padding: 2%;
}
.overlaykda h2{
    margin-top: 30%;
    font-size: 35rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
}
.overlaykda span{
    font-size: 25rem;
    padding: 2%;
    color: #f3f7f9;
}
.imgoverlay1:hover{
    transform: scale(0.95);
    -webkit-clip-path: polygon(20% 0%, 89% 0, 100% 17%, 100% 100%, 80% 100%, 11% 100%, 0 84%, 0 0);
    clip-path: polygon(20% 0%, 89% 0, 100% 17%, 100% 100%, 80% 100%, 11% 100%, 0 84%, 0 0);
}
.imgoverlay1:hover .overlaykda{
    opacity: 1;
    cursor: pointer;
}
.kdacard .kdaframe{
    position: absolute;
    width: 1050rem;
    height: 470rem;
    background-color: transparent;
    border: solid 3rem var(--second-col);
    -webkit-clip-path: polygon(6% 0, 80% 0%, 100% 0, 100% 85%, 94% 100%, 20% 100%, 0 100%, 0 14%);
    clip-path: polygon(6% 0, 80% 0%, 100% 0, 100% 85%, 94% 100%, 20% 100%, 0 100%, 0 14%);
    transition: 0.5s;
}
.kdaframe:hover{
    -webkit-clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 91% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 91% 100%, 20% 100%, 0 100%, 0 0);
    transform: scale(0.95);
}
.blob4{
    width: 1100rem;
    height: 900rem;
    position: absolute;
    margin-top: 50%
}
.blob4:nth-child(8){
    filter: blur(20px);
}
.section2 .soloseracard{
    width: 92%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top left,rgba(0, 195, 255, 0.281) , rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.055),rgba(0, 195, 255, 0.281) );
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 4%;
    margin-top: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.soloseracard h2{
    font-size: 45rem;
    background: linear-gradient(
        to left,#1c2327 , #f3f7f9,#1a2125);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    letter-spacing: 3rem;
    margin-right: 65%;
    margin-top: -39.5%;
}
.soloseracard .videocard{
    position: absolute;
    width: 50%;
    height: 50%;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px; 
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    margin-left: 40%;
    margin-top: -18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videocard video{
    width: 85%;
    outline: none;
    position: absolute;
    border: none;
    object-fit: cover;
    -webkit-clip-path: polygon(7% 0, 80% 0%, 100% 0, 100% 85%, 93% 100%, 20% 100%, 0 100%, 0 14%);
    clip-path: polygon(7% 0, 80% 0%, 100% 0, 100% 85%, 93% 100%, 20% 100%, 0 100%, 0 14%);

}
.videocard .videocardframe{
    width: 82%;
    height: 66.5%;
    position: absolute;
    background-color: transparent;
    border: 2.5px solid var(--second-col);
}
.soloseracard .seraSongcard{
    position: absolute;
    width: 37%;
    height: 37%;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px; 
    margin-right: 53%;
    margin-top: -11.6%;
    box-shadow: 35px 35px 68px 0px rgba(80, 217, 217, 0.384), inset -10px -10px 16px 0px rgba(80, 217, 217, 0.541), inset 0px 11px 28px 0px rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
}
.seraSongcard .seraSongframe{
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: 2rem solid var(--second-col) ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 80%, 87% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 80%, 87% 100%, 20% 100%, 0 100%, 0% 20%);
    transition: 0.5s;
}
.seraSongframe:hover{
    transform: scale(0.9);
    -webkit-clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 100%, 87% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(14% 0, 80% 0%, 100% 0, 100% 100%, 87% 100%, 20% 100%, 0 100%, 0 0);
}
.seraSongframe .seraSongimg{
    width: 93%;
    height: 83%;
    position: absolute;
    display: flex;
    -webkit-clip-path: polygon(20% 0%, 88% 0, 100% 0, 100% 100%, 80% 100%, 12% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 88% 0, 100% 0, 100% 100%, 80% 100%, 12% 100%, 0 100%, 0 0);
    transition: 0.5s;
}
.seraSongimg:hover{
    transform: scale(0.97);
    -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 16%, 100% 100%, 80% 100%, 8% 100%, 0 82%, 0 0);
    clip-path: polygon(20% 0%, 92% 0, 100% 16%, 100% 100%, 80% 100%, 8% 100%, 0 82%, 0 0);
}
.seraSongimg img{
    width: 100%;
    object-fit: cover;
}
.seraSongimg .seraSongoverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.521);
    opacity: 0; 
    transition: .5s ease;
    text-align: center;
    padding-top: 18%;
}
.seraSongimg:hover .seraSongoverlay{
    opacity: 1;
    cursor: pointer;
}
.seraSongoverlay .seraSonghead{
    font-size: 25rem;
    background: linear-gradient(
        to left,rgb(0, 195, 255), #f3f7f9,rgb(0, 195, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: "transparent";
    animation: textShine 3s ease-in-out infinite alternate;
    background-size: 500% auto;
    font-weight: 800;
    
}
.seraSongoverlay .seraSongpara{
    font-size: 13rem;
    color:#f3f7f9;
}


/* responsive design */
@media screen and (max-width: 400px) {
    html{
        font-size: 4%;
    }
    .imgbox img{
        width: 500rem;
        margin-left: -45% auto;
    }
    .imgbox #stoke{
        width: 750rem;
        left: -150rem auto;
    }
    @keyframes animateStoke{
        50%{
            top: -1%;
            left: -140rem;
            width: 850rem;
        }
    }
    .cols1{
        width: 400rem;
        transform: translateY(46.5%);
        margin-left: -100%;
    }
    .cols0{
        width: 100%;
        transform: translateY(-75%);
    }
    .topline{
        font-size: 40rem;
        letter-spacing: 4rem;
    }
    h1{
        font-size: 50rem;
        width: 100%;
    }
    p{
        width: 100%;
        font-size: 22rem;
    }
    .btns{
        display: inline-flex;
    }
    button{
        font-size: 15rem;
        padding: 5rem 12rem;
        margin: 25rem 2rem;
        letter-spacing: 1rem;
    }
    button:hover{
        font-size: 16rem;
    }
    .wrapper::before{
        height: 400rem;
        width: 400rem;
        left: -16%;
        top: 24%;
    }
    @keyframes object1{
        50%{
            left: -20%;
            top: 26%;
            height: 420rem;
            width: 420rem;
        }
    }
    .wrapper::after{
        left: 70%;
        top: 13%;
    }
    @keyframes object2{
        50%{
            left: 60%;
            top: 14%;
            height: 130rem;
            width: 130rem;
        }
    }
}