*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
body{
    overflow: hidden;

}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f7f9;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3c4e58;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.logo b{
    font-size: 70px;
    color: rgb(55, 0, 255);
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3c4e58;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
    color: #f3f7f9;
    background: rgb(55, 0, 255);
    padding: 3px 10px;
    border-radius: 10px;
}
.links a{
    font-size: 35px;
    color: #3c4e58;
    margin: 25px 15px;
}
.links a:hover{
    color: #f3f7f9;
    background: rgb(55, 0, 255);
    padding: 3px 8px;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3c4e58;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(55, 0, 255);
}
h1{
    display: block;
    font-size: 6em;
    font-weight: 900;
    color: #3c4e58;
}
.multitext{
    color: rgb(55, 0, 255);
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3c4e58;
}
.btns{
    width:
}